.modal {
    background-color: #494c80;
    width: 30vw;
    height: 25vw;
    border-radius: 1vw;
    border-left: 1vw solid #6c7bc6;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.modal-title {
    color: white;
    font-size: 1.4vw;
    font-weight: 800;
    width: 96%;
    border-bottom: 0.1vw solid rgb(255, 255, 255, 0.15);
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

.modal-input {
    outline: none;
    background-color: #3e3f50;
    width: 94%;
    height: 2vw;
    border-radius: 0.5vw;
    border: 0.1vw solid rgb(255, 255, 255, 0.15);
    color: white;
    font-size: 1vw;
    padding-left: 0.5vw;
}

.modal-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 4.5vw;
    color: white;
    font-size: 1vw;
}

.confirm-container {
    display: flex;
    border-top: 0.1vw solid rgb(255, 255, 255, 0.15);
    width: 96%;
    margin-top: 1.5vw;
    justify-content: flex-end;
    align-items: center;
    height: 4vw;
}

.confirm-button {
    background-color: #7081bc;
}

.cancel-button {
    margin-right: 1vw;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 2vw;
    border-radius: 0.5vw;
    color: white;
    font-size: 1vw;
    font-weight: 800;
    cursor: pointer;
    transition: all 300ms ease;
}

.button:hover {
    transform: scale(1.1);
}