.courses-title {
    color: white;
    margin-left: 5vw;
    margin-top: 2vw;
    font-size: 2vw;
    font-weight: 800;
}

.courses-container {
    display: flex;
    margin-left: 3vw;
    margin-top: 2vw;
    flex-wrap: wrap;
    padding-bottom: 5vw;
}

.course-card {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 10%, transparent 10%),
    radial-gradient(#444cf7 10%, transparent 10%);
    background-size: 50px 50px;
    background-position: 0 0, 50px 50px;
    display: flex;
    width: 16vw;
    height: 25vw;
    margin-left: 2vw;
    margin-top: 2vw;
    border-radius: 1vw;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.course-card-title {
    font-weight: 800;
    font-size: 1.2vw;
    padding: 0.5vw;
    margin-top: 1vw;
    background-color: #bcbcf8;
    padding: 0.5vw;
}

.course-card-body {
    font-size: 0.9vw;
    font-weight: 600;
    margin-top: 2vw;
    background-color: #bcbcf8;
    padding: 0.5vw;
}

.course-card-duration {
    margin-top: 1vw;
    font-size: 1.2vw;
    font-weight: 800;
    background-color: #bcbcf8;
    padding: 0.5vw;
}

.course-card-price {
    margin-bottom: 1vw;
    font-size: 1.2vw;
    font-weight: 800;
    background-color: #bcbcf8;
    padding: 0.5vw;
}